<label> Enter title</label>
{{input name="title" value=title placeholder="Title"}}<br /> 
<label> Owner</label>
{{input name="owner" value=owner placeholder="Owner"}}<br /> 
<label> City</label>
{{input name="city" value=city placeholder="City"}}<br /> 
<label> Bedrooms</label>
{{input name="username" value=bedrooms placeholder="Bedrooms"}}<br /> 
<label> Image Url</label>
{{input name="username" value=image placeholder="Image Url"}}<br /> 
<button {{action "addRental"}}>Add Rental</button>